.skills {
  @include sm-min {
    padding: ($gap / 2) ($gap / 2) ($gap * 2);
  }
  @include sm {
    padding: $gap;
  }

  &__container {
    display: grid;

    padding-bottom: $gap;

    @include lg-min {
      grid-gap: $gap / 2;
      grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
      grid-template-columns: repeat(4, 1fr);
    }
    @include lg-md {
      grid-gap: $gap / 2;
      grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-gap: $gap / 2;
      grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
      grid-template-columns: 1fr 1fr;
    }
    @include sm {
      grid-gap: $gap;
      grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
      grid-template-columns: 1fr;
    }
  }

  &__button {
    @extend %btn-wrapper;
  }
}

.skill-item {
  position: relative;

  display: grid;
  overflow: hidden;
  align-items: center;

  padding: $gap;

  justify-items: center;

  @media (min-height: 691px) {
    min-height: calc(33.33vh - #{$gap} * 0.66);
  }

  @media (max-height: 690px) {
    min-height: calc(230px - #{$gap} * 0.66);
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    padding: $gap;

    transition: color 0.5s;
  }

  &__overlay {
    z-index: 1;

    transition: opacity 0.5s;

    opacity: 0.8;
    background-color: $color-primary;

    @include abs-position;
  }

  &__image {
    transition: transform 0.5s;

    background-color: $color-primary;
    background-position: 50% 50%;
    background-size: cover;

    @include abs-position;
  }

  &__title {
    z-index: 1;

    margin: 0;

    letter-spacing: 0.1em;

    @include abs-position;
    @include md-min {
      font-size: 1.25rem;
    }
    @include md {
      font-size: 1.125rem;
    }
  }

  &:hover {
    .skill-item__overlay {
      opacity: 0.95 !important;
    }

    .skill-item__image {
      transform: scale(1.1);
    }

    .skill-item__link {
      color: $color-accent;
    }
  }

  &:nth-of-type(1) {
    grid-area: a1;
  }

  &:nth-of-type(2) {
    grid-area: a2;
  }

  &:nth-of-type(3) {
    grid-area: a3;
  }

  &:nth-of-type(4) {
    grid-area: a4;
  }

  &:nth-of-type(5) {
    grid-area: a5;
  }

  &:nth-of-type(6) {
    grid-area: a6;
  }

  &:nth-of-type(7) {
    grid-area: a7;
  }

  &:nth-of-type(8) {
    grid-area: a8;
  }

  &:nth-of-type(9) {
    grid-area: a9;
  }
}
