
.about {
  background-color: $color-gray-light;

  .container {
    @media (min-width: $lg + 1) {
      grid-gap: $gap * 5;
      grid-template-columns: 1fr 271px;
    }

    @media (max-width: $lg) and (min-width: $md + 1) {
      grid-gap: $gap * 2;
      grid-template-columns: 1fr 271px;
    }

    @media (max-width: $md) and (min-width: $sm + 1) {
      grid-gap: $gap;
      grid-template-columns: 1fr 236px;
    }

    @media (max-width: $sm) {
      grid-gap: $gap;
      grid-template-columns: 1fr;
    }
  }
}

.about-content {
  h2 {
    @media (min-width: $lg + 1) {
      margin-bottom: $gap * 2.5;
    }

    @media (max-width: $lg) and (min-width: $md + 1) {
      margin-bottom: $gap * 2;
    }

    @media (max-width: $md) and (min-width: $sm + 1) {
      margin-bottom: $gap * 1.5;
    }

    @media (max-width: $sm) {
      margin-bottom: $gap * 1.5;

      text-align: center;
    }
  }

  p {
    @media (min-width: $lg + 1) {
      font-size: 1.125rem;
    }

    &:first-of-type {
      position: relative;

      &::after {
        position: absolute;
        top: 0;

        width: 2px;
        height: 200px;

        content: "";

        background-color: rgba($color-gray, 0.1);

        @media (min-width: $lg + 1) {
          right: -$gap * 2.5;
        }

        @media (max-width: $lg) and (min-width: $md + 1) {
          right: -$gap;
        }

        @media (max-width: $md) and (min-width: $sm + 1) {
          right: -$gap / 2;
        }

        @media (max-width: $sm) {
          display: none;
        }
      }
    }
  }
}

.about-image {
  display: grid;

  align-content: center;
  justify-items: center;

  img {
    max-width: 100%;
    max-height: 480px;
    margin-top: $gap;
  }
}