
.form {
  padding: ($gutter * 1.5) 0;

  background-color: $base-color;

  .container {
    grid-gap: $gutter;

    @media (min-width: $medium + 1) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $medium) and (min-width: $small + 1) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $small) and (min-width: $xsmall + 1) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .btn-accent {
    width: 100%;
    margin: 0;

    color: $light-color;
    border-color: rgba($light-color, 0);
    border-bottom-color: rgba($light-color, 0.20);
    background-color: rgba($light-color, 0.10);

    &:hover,
    &:focus {
      cursor: pointer;

      border-color: $light-color;
      background-color: $accent-color;
    }
  }

  input {
    display: block;

    width: 100%;
    height: 60px;
    padding-right: $gutter;
    padding-left: $gutter;

    transition: background-color 0.5s, border-color 0.5s;
    letter-spacing: 0.15em;

    color: $light-color;
    border: 2px solid rgba($light-color, 0);
    border-bottom-color: rgba($light-color, 0.25);
    background-color: rgba($light-color, 0.05);

    font-size: 1.125rem;

    &::placeholder {
      color: $gray-color;
    }

    &:hover,
    &:focus {
      border-color: rgba($light-color, 0.15);
      border-bottom-color: $light-color;
      background-color: rgba($light-color, 0.15);

      &::placeholder {
        color: lighten($gray-color, 15%);
      }
    }
  }
}

.form-item {
  &:nth-of-type(1) {
    @media (max-width: $small) and (min-width: $xsmall + 1) {
      grid-column: 1 / span 2;
    }
  }
}
