
.posts {
  .container {
    grid-gap: $gap;

    @media (min-width: $lg + 1) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: $lg) and (min-width: $md + 1) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $md) and (min-width: $sm + 1) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: $sm) {
      grid-template-columns: 1fr;
    }
  }

  h2 {
    @media (min-width: $lg + 1) {
      margin-bottom: $gap * 1.5;

      grid-column: 1 / span 4;
    }

    @media (max-width: $lg) and (min-width: $md + 1) {
      margin-bottom: $gap * 1;

      grid-column: 1 / span 3;
    }

    @media (max-width: $md) and (min-width: $sm + 1) {
      margin-bottom: $gap * 0.5;

      grid-column: 1 / span 2;
    }
  }

  .btn-accent {
    @media (max-width: $sm) {
      width: 100%;
    }
  }
}

.post-item {
  transition: background-color 0.5s;

  background-color: lighten($color-gray-light, 5%);

  &:hover {
    background-color: darken($color-gray-light, 5%);

    .post-item__image div {
      transform: scale(1.1);
    }

    h3 {
      color: $color-main;
    }

    p {
      color: $color-main;
    }
  }

  &:nth-of-type(1) {
    @media (min-width: $lg + 1) {
      grid-column: 1 / span 2;
    }

    @media (max-width: $lg) and (min-width: $md + 1) {
      grid-column: 1 / span 2;
    }
  }

  &:nth-of-type(4) {
    @media (max-width: $lg) and (min-width: $md + 1) {
      grid-column: 2 / span 2;
    }
  }

  &:nth-of-type(5) {
    @media (max-width: $lg) and (min-width: $md + 1) {
      grid-column: 1 / span 2;
    }
  }

  &:nth-of-type(6) {
    @media (min-width: $lg + 1) {
      grid-column: 3 / span 2;
    }
  }
}

.post-item__link {
  display: grid;
  overflow: hidden;

  height: 100%;

  grid-template-rows: 300px 1fr;
}

.post-item__image {
  position: relative;

  overflow: hidden;

  div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: transform 0.5s;

    background-color: $color-main;
    background-position: 50% 50%;
    background-size: cover;
  }
}

.post-item__caption {
  display: grid;

  padding: $gap;

  align-content: center;

  h3 {
    transition: color 0.5s;
    text-align: center;
  }

  p {
    transition: color 0.5s;
    text-align: center;
  }
}