
.posts {
  .container {
    grid-gap: $gap;
    @include lg-min {
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "h2 h2 h2 h2" "p1 p1 p2 p3" "p4 p5 p6 p6" "bs bs bs bs";
    }
    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: "h2 h2 h2" "p1 p1 p2" "p3 p4 p4" "p5 p5 p6" "bs bs bs";
    }
    @include md-sm {
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "h2 h2" "p1 p2" "p3 p4" "p5 p6" "bs bs";
    }
    @include sm {
      grid-template-columns: 1fr;
      grid-template-areas: "h2" "p1" "p2" "p3" "p4" "p5" "p6" "bs";
    }
  }

  h2 {
    grid-area: h2;
    @include lg-min {
      margin-bottom: $gap * 1.5;
    }
    @include lg-md {
      margin-bottom: $gap * 1;
    }
    @include md-sm {
      margin-bottom: $gap * 0.5;
    }
  }

  .btn-set {
    grid-area: bs;
  }

  .btn-accent {
    @include sm {
      width: 100%;
    }
  }
}

.post-item {
  transition: background-color 0.5s;

  background-color: lighten($color-gray-light, 5%);

  &:hover {
    background-color: darken($color-gray-light, 5%);

    .post-item__image div {
      transform: scale(1.1);
    }

    h3 {
      color: $color-main;
    }

    p {
      color: $color-main;
    }
  }

  &:nth-of-type(1) {
    grid-area: p1;
  }

  &:nth-of-type(2) {
    grid-area: p2;
  }

  &:nth-of-type(3) {
    grid-area: p3;
  }

  &:nth-of-type(4) {
    grid-area: p4;
  }

  &:nth-of-type(5) {
    grid-area: p5;
  }

  &:nth-of-type(6) {
    grid-area: p6;
  }
}

.post-item__link {
  display: grid;
  overflow: hidden;

  height: 100%;

  grid-template-rows: 300px 1fr;
}

.post-item__image {
  position: relative;

  overflow: hidden;

  div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: transform 0.5s;

    background-color: $color-main;
    background-position: 50% 50%;
    background-size: cover;
  }
}

.post-item__caption {
  display: grid;

  padding: $gap;

  align-content: center;

  h3 {
    transition: color 0.5s;
    text-align: center;
  }

  p {
    transition: color 0.5s;
    text-align: center;
  }
}