.form {
  padding: ($gap * 1.5) 0;

  background-color: $color-primary;

  &__container {
    display: grid;

    grid-gap: $gap;
    @extend %container;
    @include lg-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include lg-md {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-columns: 1fr 1fr;
    }
  }

  .btn-accent {
    width: 100%;

    color: $color-light;
    border-color: rgba($color-light, 0);
    border-bottom-color: rgba($color-light, 0.20);
    background-color: rgba($color-light, 0.10);

    &:hover,
    &:focus {
      cursor: pointer;

      border-color: $color-light;
      background-color: $color-accent;
    }
  }
}

.form-item {
  &:nth-of-type(1) {
    @include md-sm {
      grid-column: 1 / span 2;
    }
  }

  &__input {
    display: block;

    width: 100%;
    height: 60px;
    padding-right: $gap;
    padding-left: $gap;

    transition: background-color 0.5s, border-color 0.5s;
    letter-spacing: 0.15em;

    color: $color-light;
    border: 2px solid rgba($color-light, 0);
    border-bottom-color: rgba($color-light, 0.25);
    background-color: rgba($color-light, 0.05);

    font-size: 1.125rem;

    &::placeholder {
      color: $color-gray;
    }

    &:hover,
    &:focus {
      border-color: rgba($color-light, 0.15);
      border-bottom-color: $color-light;
      background-color: rgba($color-light, 0.15);

      &::placeholder {
        color: lighten($color-gray, 15%);
      }
    }
  }
}
