* {
  box-sizing: border-box;
}

html {
  color: $base-color;

  font-family: $base-font;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;

  color: $light-color;
}

.grid {
  display: grid;
}

.container {
  max-width: $xlarge;
  margin: auto;
  padding: 0 $gutter;
}

.img-responsive {
  display: block;

  width: 100%;
  height: auto;
}

.btn {
  display: inline-block;

  min-width: 250px;
  margin: 0 ($gutter / 2);
  padding: 15px;

  transition: background-color 0.5s;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.15em;

  border: 2px solid $light-color;
  background-color: rgba($light-color, 0.1);

  font-size: 1.125rem;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}
