* {
  box-sizing: border-box;
}

html {
  color: $gray-color;

  font-family: $base-font;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  letter-spacing: 0.1em;

  font-family: $header-font;
  font-size: 3.75rem;
  font-weight: 300;
  line-height: 1.2em;
}

h2 {
  letter-spacing: 0.1em;

  color: $base-color;

  font-family: $header-font;
  font-size: 2.5rem;
  line-height: 1.2em;
}

a {
  text-decoration: none;

  color: $light-color;
}

.container {
  display: grid;

  max-width: $xlarge;
  margin: auto;
  padding: 0 $gutter;
}

.section {
  padding-top: 100px;
  padding-bottom: 80px;

  h2 {
    margin-top: 0;
  }
}

.img-responsive {
  display: block;

  width: 100%;
  height: auto;
}

%btn-common {
  display: block;

  min-width: 250px;
  height: 60px;
  margin: 0 ($gutter / 2);
  padding: 15px $gutter;

  transition: background-color 0.5s, border-color 0.5s;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.15em;

  border-width: 2px;
  border-style: solid;

  font-size: 1.125rem;
}

.btn {
  border-color: $light-color;
  background-color: rgba($light-color, 0.1);

  @extend %btn-common;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.btn-accent {
  border-color: $base-color;
  background-color: rgba($base-color, 0.8);

  @extend %btn-common;

  &:hover {
    border-color: $base-color;
    background-color: $accent-color;
  }
}
