* {
  box-sizing: border-box;
}

html {
  letter-spacing: 0.1em;

  color: $gray-color;

  font-family: $base-font;
  font-size: 16px;
}

h1 {
  font-family: $header-font;
  font-weight: 300;
  line-height: 1.2em;

  @media (min-width: $medium + 1) {
    font-size: 3.75rem;
  }

  @media (max-width: $medium) and (min-width: $small + 1) {
    font-size: 2.5rem;
  }

  @media (max-width: $small) {
    font-size: 1.875rem;
  }
}

h2 {
  color: $base-color;

  font-family: $header-font;
  line-height: 1.2em;

  @media (min-width: $medium + 1) {
    font-size: 2.5rem;
  }

  @media (max-width: $medium) and (min-width: $small + 1) {
    font-size: 2rem;
  }

  @media (max-width: $small) {
    font-size: 1.5rem;
  }
}

h3 {
  color: $gray-color;
}

a {
  text-decoration: none;

  color: $light-color;
}

p {
  letter-spacing: 1px;

  color: $gray-color;
}

input:focus {
  outline: none;
}

.container {
  display: grid;

  max-width: $xlarge;
  margin: auto;
  padding: 0 $gutter;
}

.section {
  @media (min-width: $medium + 1) {
    padding-top: $gutter * 5;
    padding-bottom: $gutter * 4;
  }

  @media (max-width: $medium) and (min-width: $small + 1) {
    padding-top: $gutter * 4;
    padding-bottom: $gutter * 3;
  }

  @media (max-width: $small) {
    padding-top: $gutter * 3;
    padding-bottom: $gutter * 2;
  }

  h2 {
    margin-top: 0;
  }
}

.img-responsive {
  display: block;

  width: 100%;
  height: auto;
}

%btn-common {
  display: block;

  min-width: 250px;
  height: 60px;
  margin: 0 ($gutter / 2);
  padding: 18px $gutter;

  transition: background-color 0.5s, border-color 0.5s;
  text-align: center;
  letter-spacing: 0.15em;

  border-width: 2px;
  border-style: solid;

  font-size: 1.125rem;
}

.btn {
  border-color: $light-color;
  background-color: rgba($light-color, 0.1);

  @extend %btn-common;

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.btn-accent {
  border-color: $base-color;
  background-color: rgba($base-color, 0.8);

  @extend %btn-common;

  &:hover {
    border-color: $base-color;
    background-color: $accent-color;
  }
}

.btn-set {
  display: grid;

  padding: 0 0 $gutter;

  justify-items: center;

  @media (min-width: $medium + 1) {
    grid-column: 1 / span 4;
  }

  @media (max-width: $medium) and (min-width: $small + 1) {
    grid-column: 1 / span 3;
  }

  @media (max-width: $small) and (min-width: $xsmall + 1) {
    grid-column: 1 / span 2;
  }

  @media (max-width: $xsmall) {
    grid-template-columns: 1fr;
  }

  .btn-accent {
    @media (min-width: $xsmall + 1) {
      min-width: 350px;
    }

    @media (max-width: $xsmall) {
      margin: 0;
    }
  }
}
