.header {
  position: relative;

  display: grid;

  min-height: 100vh;
  padding: 100px 0;

  color: $light-color;
  background-color: $base-color;
  background-position: 50% 50%;
  background-size: cover;

  align-content: center;
}

.header-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  opacity: 0.8;
  background-color: $base-color;
}

.header-content {
  z-index: 1;
}

.header-title {
  text-align: center;

  @media (min-width: $medium + 1) {
    margin: 0 0 53px;
  }

  @media (max-width: $medium) and (min-width: $small + 1) {
    margin: 0 0 43px;
  }

  @media (max-width: $small) {
    margin: 0 0 43px;
  }
}

.header-buttons {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;

  .btn {
    @media (max-width: $medium) and (min-width: $small + 1) {
      min-width: 200px;
      height: 50px;
      padding-top: 14px;
      padding-bottom: 14px;

      letter-spacing: 0.1em;

      font-size: 1rem;
    }

    @media (max-width: $small) {
      min-width: 170px;
      height: 40px;
      margin-bottom: $gutter;
      padding-top: 10px;
      padding-bottom: 10px;

      letter-spacing: 0.05em;

      font-size: 1rem;
    }
  }
}

.header-menu {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  justify-content: center;

  @media (max-width: $small) {
    background-color: rgba($grey-dark, 0.25);
  }

  .container {
    grid-template-columns: auto 1fr;
  }
}

.header-logo {
  letter-spacing: 0.5em;

  align-self: center;
  a {
    display: block;

    padding: $gutter $gutter $gutter 0;

    &:hover,
    &:focus {
      color: $light-color;
    }
  }

  span {
    display: inline-block;

    padding: 15px 7px 15px 15px;

    border: 2px solid $highlight-color;
  }
}

.header-navbar {
  position: relative;

  display: flex;

  align-self: center;
  justify-content: flex-end;
}

.header-navbar__list {
  margin: 0 (-$gutter) 0 0;
  padding: 0;

  list-style-type: none;

  justify-content: flex-end;

  @media (min-width: $small + 1) {
    display: grid;

    width: 100%;

    grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
  }

  @media (max-width: $small) {
    position: absolute;
    z-index: -100;

    transition: opacity 1s;

    opacity: 0;
  }

  &.active {
    z-index: 1;
    top: 100%;

    display: grid;

    text-align: right;

    opacity: 1;
    background-color: rgba($grey-dark, 0.5);
  }
}

.header-navbar__hamburger {
  position: relative;

  width: 30px;
  height: 23px;
  margin: $gutter 0;

  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: rotate(0deg);

  @media (min-width: $small + 1) {
    display: none;
  }

  @media (max-width: $small) {
    display: block;
  }

  span {
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 3px;

    transition: 0.25s ease-in-out;
    transform: rotate(0deg);

    opacity: 1;
    border-radius: 3px;
    background: $light-color;

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 9px;
    }

    &:nth-of-type(3) {
      top: 18px;
    }
  }

  &.active span {
    &:nth-of-type(1) {
      top: 9px;

      transform: rotate(135deg);
    }

    &:nth-of-type(2) {
      left: -30px;

      opacity: 0;
    }

    &:nth-of-type(3) {
      top: 9px;

      transform: rotate(-135deg);
    }
  }
}

.header-navbar__item {
  a {
    display: block;

    padding: $gutter;

    transition: color 0.5s;

    color: $light-color;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}
