.header {
  position: relative;

  display: grid;

  min-height: 100vh;
  padding: 100px 0;

  color: $light-color;
  background-color: $base-color;
  background-position: 50% 50%;
  background-size: cover;

  align-content: center;

  &-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: 0.8;
    background-color: $base-color;
  }

  &-content {
    z-index: 1;
  }

  &-title {
    margin: 0 0 53px;

    text-align: center;
    letter-spacing: 0.1em;

    font-family: $header-font;
    font-size: 3.75rem;
    font-weight: 300;
    line-height: 1.2em;
  }

  &-buttons {
    text-align: center;
  }
}

.header-menu {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;

  justify-content: center;

  > .container {
    grid-template-columns: 120px 1fr;
  }
}

.header-logo {
  align-self: center;

  a {
    display: block;

    width: auto;
    padding: $gutter $gutter $gutter 0;

    &:hover,
    &:focus {
      color: $light-color;
    }
  }

  span {
    display: inline-block;

    padding: 4px 7px 2px;

    border: 2px solid $highlight-color;
  }
}

.header-navbar {
  align-self: center;

  &__list {
    display: flex;

    margin: 0 (-$gutter) 0 0;
    padding: 0;

    list-style-type: none;

    justify-content: flex-end;
  }

  &__item {
    a {
      display: block;

      padding: $gutter;

      transition: color 0.5s;

      color: $light-color;

      &:hover,
      &:focus {
        color: $accent-color;
      }
    }
  }
}
