
$header-font: "Roboto Slab", serif;
$base-font: "Roboto", sans-serif;
$xlarge: 1340px;
$large: 1200px;
$medium: 992px;
$small: 768px;
$xsmall: 576px;
$gutter: 20px;

@media (min-width: $medium + 1) {
}

@media (max-width: $medium) and (min-width: $small + 1) {
}

@media (max-width: $small) and (min-width: $xsmall + 1) {
}

@media (max-width: $xsmall) {
}
