
.skills {
  display: grid;

  padding: 10px;

  grid-gap: $gutter / 2;
  grid-template-columns: repeat(4, 1fr);

  &-btnset {
    display: grid;

    padding: 40px 0 $gutter;

    grid-column: 1 / span 4;
    justify-content: center;

    .btn {
      min-width: 350px;

      border-color: $base-color;
      background-color: $accent-color;
    }
  }
}

.skill-item {
  position: relative;

  display: grid;

  padding: $gutter;

  cursor: pointer;

  align-items: center;
  justify-content: center;

  @media (min-height: 691px) {
    min-height: calc(33.33vh - #{$gutter} * 0.66);
  }

  @media (max-height: 690px) {
    min-height: calc(230px - #{$gutter} * 0.66);
  }

  &__overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: opacity 0.5s;

    opacity: 0.8;
    background-color: $base-color;
  }

  &__title {
    z-index: 1;

    transition: color 0.5s;

    color: $light-color;

    font-size: 1.25rem;
    font-weight: 700;
  }

  &:hover {
    .skill-item__overlay {
      opacity: 0.95 !important;
    }

    .skill-item__title {
      color: $accent-color;
    }
  }

  &:nth-of-type(1) {
    grid-column: 1 / span 2;
  }


  &:nth-of-type(5) {
    grid-column: 2 / span 2;
  }


  &:nth-of-type(6) {
    grid-column: 4;
    grid-row: 2 / span 2;
  }
}
