
.about {
  background-color: $gray-light;

  .container {
    @media (min-width: $medium + 1) {
      grid-gap: $gutter * 5;
      grid-template-columns: 1fr 271px;
    }

    @media (max-width: $medium) and (min-width: $small + 1) {
      grid-gap: $gutter * 2;
      grid-template-columns: 1fr 271px;
    }

    @media (max-width: $small) and (min-width: $xsmall + 1) {
      grid-gap: $gutter;
      grid-template-columns: 1fr 236px;
    }

    @media (max-width: $xsmall) {
      grid-gap: $gutter;
      grid-template-columns: 1fr;
    }
  }
}

.about-content {
  h2 {
    @media (min-width: $medium + 1) {
      margin-bottom: $gutter * 2.5;
    }

    @media (max-width: $medium) and (min-width: $small + 1) {
      margin-bottom: $gutter * 2;
    }

    @media (max-width: $small) and (min-width: $xsmall + 1) {
      margin-bottom: $gutter * 1.5;
    }

    @media (max-width: $xsmall) {
      margin-bottom: $gutter * 1.5;

      text-align: center;
    }
  }

  p {
    @media (min-width: $medium + 1) {
      font-size: 1.125rem;
    }

    &:first-of-type {
      position: relative;

      &::after {
        position: absolute;
        top: 0;

        width: 2px;
        height: 200px;

        content: "";

        background-color: rgba($gray-color, 0.1);

        @media (min-width: $medium + 1) {
          right: -$gutter * 2.5;
        }

        @media (max-width: $medium) and (min-width: $small + 1) {
          right: -$gutter;
        }

        @media (max-width: $small) and (min-width: $xsmall + 1) {
          right: -$gutter / 2;
        }
      }
    }
  }
}

.about-image {
  display: grid;

  align-content: center;
  justify-items: center;

  img {
    width: 100%;
    max-height: 480px;
    margin-top: $gutter;
  }
}
