@use "../../presets" as *;
@use "../../mixins" as *;
@use "sass:math";
@use "sass:color";
$local-gap: math.div(40px, 3);
$local-height: 690px;

.skills {
  @include sm-min {
    padding: $gap-sm;
  }
  @include sm {
    padding: $gap;
  }

  &__container {
    display: grid;

    margin-bottom: $gap;

    @include lg-min {
      grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
      grid-template-columns: repeat(4, 1fr);
    }
    @include lg-md {
      grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm-min {
      gap: $gap-sm;
    }
    @include sm {
      gap: $gap;
      grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
    }

    @media ($local-height <= height) {
      grid-auto-rows: calc(33.33333vh - $local-gap);
    }
    @media (height < $local-height) {
      grid-auto-rows: calc(math.div($local-height, 3) - $local-gap);
    }
  }

  &__actions {
    display: flex;
    justify-content: center;

    @include sm-min {
      margin-bottom: $gap-lg;
    }
  }

  &__item {
    position: relative;

    overflow: hidden;

    &-title {
      z-index: 1;

      margin: 0;

      letter-spacing: 0.1em;

      font-family: $font-main;

      @include abs-position;
      @include md-min {
        font-size: 1.25rem;
      }
      @include md {
        font-size: 1.125rem;
      }
    }

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 100%;
      padding: $gap;

      transition: color 0.3s;

      color: inherit;
    }

    &-image {
      transition: transform 0.3s;

      background-color: $color-primary;
      background-position: center;
      background-size: cover;

      @include abs-position;
    }

    &-overlay {
      transition: opacity 0.3s;

      opacity: 0.8;
      background-color: $color-primary;

      @include abs-position;
    }

    &:hover {
      .skills__item-overlay {
        opacity: 0.95;
      }

      .skills__item-image {
        transform: scale(1.1);
      }

      .skills__item-link {
        color: $color-accent;
      }
    }

    @for $i from 1 through 9 {
      &:nth-of-type(#{$i}) {
        grid-area: a#{$i};
      }
    }
  }
}
