@use "../../abstracts" as *;
@use "sass:math";

$local-gap: math.div(40px, 3);
$local-height: 690px;

.skills {
  @include sm-min {
    padding: $gap-sm;
  }
  @include sm {
    padding: $gap;
  }

  &__container {
    display: grid;
    grid-auto-rows: minmax($local-height, calc(33.3333333333vh - $local-gap));

    margin-bottom: $gap;

    @include lg-min {
      grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
      grid-template-columns: repeat(4, 1fr);
    }
    @include lg-md {
      grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
      grid-template-columns: repeat(2, 1fr);
    }
    @include sm-min {
      gap: $gap-sm;
    }
    @include sm {
      gap: $gap;
      grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
    }
  }

  &__actions {
    display: flex;
    justify-content: center;

    @include sm-min {
      margin-bottom: $gap-lg;
    }
  }
}
