@use "../../abstracts" as *;

.subscribe {
  padding-top: $gap-lg;
  padding-bottom: $gap-lg;

  background-color: $color-primary;

  &__container {
    @extend %container;
  }

  &__form {
    display: grid;

    gap: $gap;
    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }

    &-group {
      @include md-sm {
        &:nth-of-type(2) {
          grid-column: 1 / 3;
          grid-row: 1;
        }
      }
    }
  }

  &__input {
    display: flex;
    align-items: center;

    color: $color-white;

    @extend %form-element;

    &::placeholder {
      color: rgba($color-white, 0.5);

      font-weight: 400;
    }

    &:hover,
    &:focus {
      border-color: $color-white;
      background-color: rgba($color-white, 0.1);

      &::placeholder {
        color: $color-white;
      }
    }
  }

  &__button {
    cursor: pointer;

    color: rgba($color-white, 0.5);

    @extend %form-element;

    &:hover,
    &:focus {
      color: $color-white;
      border-color: $color-white;
      background-color: $color-accent;
    }
  }
}
