@use "../../presets" as *;
@use "../../mixins" as *;

.subscribe__item {
  @include md-sm {
    &:nth-of-type(1) {
      grid-column: 1 / 2;
      grid-row: 2;
    }
    &:nth-of-type(2) {
      grid-column: 1 / -1;
      grid-row: 1;
    }
  }

  &-control {
    display: block;

    width: 100%;
    height: 60px;
    padding-right: $gap-lg;
    padding-left: $gap-lg;

    transition: border-color 0.3s, background-color 0.3s;
    letter-spacing: 0.1em;

    color: $color-white;
    border: 2px solid transparent;
    border-bottom-color: rgba($color-white, 0.2);
    background-color: rgba($color-white, 0.05);

    @include lg-min {
      font-size: 1.125rem;
    }

    &::placeholder {
      color: $color-gray;
    }

    &:hover,
    &:focus {
      border-color: $color-white;
      background-color: rgba($color-white, 0.1);

      &::placeholder {
        color: $color-gray2;
      }
    }

    &:focus-visible {
      outline: none;
    }
  }

  &-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 60px;
    padding: 0.5em 1em;

    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
    letter-spacing: 0.1em;

    color: $color-white;
    border: 2px solid transparent;
    border-bottom-color: rgba($color-white, 0.2);
    background-color: rgba($color-white, 0.05);

    @include lg-min {
      font-size: 1.125rem;
    }

    &:hover,
    &:focus {
      border-color: $color-white;
      background-color: $color-accent;
    }
  }
}
