@use "../presets" as *;
@use "mixins" as *;
@use "mixins-media" as *;

%container {
  width: min(100% - $gap-x2, $container-size);

  margin-inline: auto;
}

%section {
  @include lg-min {
    padding-top: $gap-x5;
    padding-bottom: $gap-x5;
  }
  @include lg-md {
    padding-top: $gap-x4;
    padding-bottom: $gap-x4;
  }
  @include md {
    padding-top: $gap-x3;
    padding-bottom: $gap-x3;
  }
}
