@use "../abstracts" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em 1em;

  transition: background-color 0.3s;
  letter-spacing: 0.1em;

  border-width: 2px;
  border-style: solid;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }

  &--light {
    border-color: $color-white;
    background-color: rgba($color-white, 0.1);

    @include lg-min {
      min-width: 250px;
      min-height: 60px;

      font-size: 1.125rem;
    }
    @include lg-md {
      min-width: 200px;
      min-height: 50px;
    }
    @include md {
      min-width: 170px;
      min-height: 40px;
    }
  }

  &--primary {
    min-height: 60px;

    border-color: $color-primary;
    background-color: rgba($color-primary, 0.8);

    font-size: 1.125rem;

    @include sm-min {
      min-width: 350px;
    }
    @include sm {
      width: 100%;
    }
  }
}

.visually-hidden {
  @include visually-hidden;
}
