@use "../abstracts" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  font-family: $font-main;
  font-size: $font-size;
}

body {
  color: $color-gray;
  background-color: $color-white;
}

h1 {
  letter-spacing: 0.078em;

  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2;

  @include lg-min {
    font-size: 3.75rem;
  }
  @include lg-md {
    font-size: 2.5rem;
  }
  @include md {
    font-size: 1.875rem;
  }
}

h2 {
  margin: 0 0 1.25em;

  letter-spacing: 0.1em;

  color: $color-primary;

  font-family: $font-header;
  line-height: 1.2em;

  @include lg-min {
    font-size: 2.5rem;
  }
  @include lg-md {
    font-size: 2rem;
  }
  @include md {
    font-size: 1.5rem;
  }
  @include sm {
    text-align: center;
  }
}

h3 {
  letter-spacing: 0.05em;

  font-family: $font-header;
  font-size: 1.25rem;
}

a {
  text-decoration: none;

  color: $color-white;
}
