@use "../../presets" as *;
@use "../../mixins" as *;

.about {
  background-color: $color-gray-light;

  @extend %section;

  &__container {
    display: grid;

    @extend %container;
    @include lg-min {
      gap: $gap-x5;
      grid-template-columns: 1fr 271px;
    }
    @include lg-md {
      gap: $gap-x3;
      grid-template-columns: 1fr 255px;
    }
    @include md {
      gap: $gap-x2;
    }
  }

  &__picture {
    text-align: center;
  }

  &__image {
    max-width: 100%;
    max-height: 480px;
  }

  &__description {
    position: relative;

    &::before {
      position: absolute;
      top: 5px;

      width: 2px;
      height: 55%;
      min-height: 200px;

      content: "";

      background-color: rgba($color-gray, 0.1);

      @include lg-min {
        right: -$gap * 2.5;
      }
      @include lg-md {
        right: -$gap * 1.5;
      }
    }

    p {
      line-height: 1.333333em;

      @include md-min {
        font-size: 1.25rem;
      }
    }
  }
}
