* {
  box-sizing: border-box;
}

html {
  color: $color-gray;

  font-family: $font-main;
  font-size: 16px;
}

h1 {
  letter-spacing: 0.08em;

  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2em;

  @include lg-min {
    font-size: 3.75rem;
  }
  @include lg-md {
    font-size: 2.5rem;
  }
  @include md {
    font-size: 1.875rem;
  }
}

h2 {
  letter-spacing: 0.1em;

  color: $color-primary;

  font-family: $font-header;
  line-height: 1.2em;

  @include lg-min {
    margin-bottom: $gap * 2.8;

    font-size: 2.5rem;
  }
  @include lg-md {
    margin-bottom: $gap * 2.1;

    font-size: 2rem;
  }
  @include md-sm {
    margin-bottom: $gap * 1.8;

    font-size: 1.5rem;
  }
  @include sm {
    margin-bottom: $gap * 1.8;

    text-align: center;

    font-size: 1.5rem;
  }
}

h3 {
  letter-spacing: 0.05em;

  color: $color-gray;

  font-size: 1.125rem;
}

a {
  text-decoration: none;

  color: $color-light;
}

p {
  color: $color-gray;
}

input:focus {
  outline: none;
}

.btn {
  @extend %btn-common;
}

.btn--light {
  border-color: $color-light;
  background-color: rgba($color-light, 0.1);
}

.btn--primary {
  border-color: $color-primary;
  background-color: rgba($color-primary, 0.8);
}
