
.footer {
  padding: ($gutter * 2.5) $gutter ($gutter * 3.5);

  text-align: center;

  background-color: $base-color;

  .fab {
    font-size: 36px;
  }

  span {
    &:nth-of-type(1) {
      font-weight: 100;
    }

    &:nth-of-type(2) {
      color: $gray-light;

      font-weight: 700;
    }
  }
}

.footer-social {
  position: relative;

  display: grid;

  margin-bottom: $gutter * 2;

  grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  justify-content: center;

  &::after {
    position: absolute;
    bottom: -$gutter;
    left: calc(50% - 75px / 2);

    width: 75px;
    height: 2px;

    content: "";

    background-color: rgba($light-color, 0.1);
  }

  a {
    display: block;

    padding: $gutter / 2;

    transition: color 0.5s;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }
}