
@import "../../libs/normalize-scss/sass/normalize/import-now";
@import "skin";
@import "variables";

@import "common";
@import "header";

@import "sections/section-skills";
@import "sections/section-about";
@import "sections/section-form";
@import "sections/section-posts";

@import "footer";