@use "../../presets" as *;
@use "../../mixins" as *;

.about {
  letter-spacing: 0.055em;

  background-color: $color-gray-light;

  @extend %section;

  &__container {
    display: grid;

    @extend %container;
    @include lg-min {
      gap: $gap-x5;
      grid-template-columns: 1fr 271px;
    }
    @include lg-md {
      gap: $gap-x2;
      grid-template-columns: 1fr 271px;
    }
    @include md-sm {
      gap: $gap;
      grid-template-columns: 1fr 236px;
    }
    @include sm {
      gap: $gap;
      grid-template-columns: 1fr;
    }
  }

  &__content {
    p {
      @include lg-min {
        font-size: 1.125rem;
      }

      &:first-of-type {
        position: relative;

        margin-top: -5px;

        &::after {
          position: absolute;
          top: 0;

          width: 2px;
          height: 200px;

          content: "";

          background-color: rgba($color-gray, 0.1);

          @include lg-min {
            right: -$gap * 2.5;
          }
          @include lg-md {
            right: -$gap;
          }
          @include md-sm {
            right: -$gap-sm;
          }
          @include sm {
            display: none;
          }
        }
      }

      &:last-of-type {
        margin: 0;
      }
    }
  }

  &__image {
    display: grid;
    align-content: center;

    justify-items: center;

    img {
      max-width: 100%;
      max-height: 480px;
    }
  }
}
