@use "../../presets/index" as *;
@use "../../mixins/index" as *;

.form {
  padding: $gap-lg 0;

  background-color: $color-primary;

  &__container {
    display: grid;

    @extend %container;
    gap: $gap;
    @include md-min {
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .btn--primary {
    width: 100%;

    color: $color-light;
    border-color: rgba($color-light, 0);
    border-bottom-color: rgba($color-light, 0.20);
    background-color: rgba($color-light, 0.10);

    &:hover,
    &:focus {
      cursor: pointer;

      border-color: $color-light;
      background-color: $color-accent;
    }

    &:disabled {
      &:hover,
      &:focus {
        cursor: initial;

        opacity: 0.3;
        border-color: rgba($color-light, 0);
        border-bottom-color: rgba($color-light, 0.20);
        background-color: rgba($color-light, 0.10);
      }
    }
  }
}

.form-item {
  @include md-sm {
    &:nth-of-type(1) {
      grid-column: 1 / span 2;
    }
  }

  &__input {
    display: block;

    width: 100%;
    height: 60px;
    padding-right: $gap-lg;
    padding-left: $gap-lg;

    transition: background-color 0.5s, border-color 0.5s;
    letter-spacing: 0.15em;

    color: $color-light;
    border: 2px solid rgba($color-light, 0);
    border-bottom-color: rgba($color-light, 0.25);
    background-color: rgba($color-light, 0.05);

    font-size: 1.125rem;

    &::placeholder {
      color: $color-gray;
    }

    &:hover,
    &:focus {
      border-color: rgba($color-light, 0.15);
      border-bottom-color: $color-light;
      background-color: rgba($color-light, 0.15);

      &::placeholder {
        color: lighten($color-gray, 15%);
      }
    }
  }
}
