@use "../../presets" as *;
@use "../../mixins" as *;

.post-item {
  transition: background-color 0.3s;

  background-color: $color-gray-light2;

  &:hover {
    background-color: darken($color-gray-light2, 5%);

    a {
      color: $color-primary;
    }

    img {
      transform: scale(1.05);
    }
  }

  &__link {
    transition: color 0.3s;

    color: inherit;
  }

  &__content {
    padding: $gap-lg $gap;

    text-align: center;

    line-height: 1.25;
  }

  &__picture {
    display: flex;
    overflow: hidden;

    height: 300px;
  }

  &__image {
    display: block;

    width: 100% !important; // щоб переважити атрибут width

    transition: transform 0.3s;

    object-fit: cover;
  }
}

@for $i from 1 through 6 {
  .post-item:nth-of-type(#{$i}) {
    grid-area: a#{$i};
  }
}
