@use "../../abstracts" as *;
@use "sass:color";

.posts__item {
  transition: background-color 0.3s;

  background-color: $color-gray-light2;

  &:hover {
    background-color: color.adjust($color-gray-light2, $lightness: -10%);

    img {
      transform: scale(1.1);
    }
  }

  &-link {
    color: inherit;
  }

  &-picture {
    overflow: hidden;

    height: 300px;
  }

  &-image {
    display: block;

    width: 100%;
    height: 100%;

    transition: transform 0.3s;

    object-fit: cover;
  }

  &-content {
    padding: 1.25em 2em;

    text-align: center;

    line-height: 1.25;
  }

  @for $i from 1 through 6 {
    &:nth-of-type(#{$i}) {
      grid-area: a#{$i};
    }
  }
}
