@use "../presets" as *;
@use "mixins" as *;
@use "mixins-media" as *;

%container {
  max-width: $ul;
  margin: auto;
  padding-right: $gap;
  padding-left: $gap;
}

%section {
  @include lg-min {
    padding-top: $gap-x5;
    padding-bottom: $gap-x5;
  }
  @include lg-md {
    padding-top: $gap-x4;
    padding-bottom: $gap-x4;
  }
  @include md {
    padding-top: $gap-x3;
    padding-bottom: $gap-x3;
  }

  h2 {
    margin-top: 0;
  }
}

%btn-container {
  @include sm-min {
    display: flex;
    justify-content: center;
  }

  .btn--primary {
    @include sm-min {
      min-width: 350px;
    }
    @include sm {
      width: 100%;
    }
  }
}
