@use "variables" as *;
@use "skin" as *;
@use "mixins" as *;
@use "mixins-media" as *;

%container {
  width: min(100% - $gap-x2, $container-size);

  margin-inline: auto;
}

%section {
  @include lg-min {
    padding-top: $gap-x5;
    padding-bottom: $gap-x5;
  }
  @include lg-md {
    padding-top: $gap-x4;
    padding-bottom: $gap-x4;
  }
  @include md {
    padding-top: $gap-x3;
    padding-bottom: $gap-x3;
  }
}

%form-element {
  width: 100%;
  height: 60px;
  padding: 0.5em 1.5em;

  transition: 0.3s;
  letter-spacing: 0.1em;

  border: 2px solid transparent;
  border-bottom-color: rgba($color-white, 0.5);
  background-color: rgba($color-white, 0.05);

  font-size: 1.125rem;

  &:focus-visible {
    outline: none;
  }
}
