*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;
  letter-spacing: 0.1em;
  color: #637588;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  line-height: 1.2em;
  letter-spacing: 0.08em;
  text-align: center;
}
@media (min-width: 992px) {
  h1 {
    font-size: 3.75rem;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 1.875rem;
  }
}

h2 {
  color: #2d3651;
  font-family: "Roboto Slab", serif;
  line-height: 1.2em;
}

p {
  letter-spacing: 1px;
  color: #637588;
}

a {
  text-decoration: none;
  color: #ffffff;
}

input:focus {
  outline: none;
}

.btn {
  height: 60px;
  padding-left: 1em;
  padding-right: 1em;
  transition: background-color 0.5s;

  min-width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 1.125rem;
  letter-spacing: 0.1em;
}

.btn--light {
  min-width: 250px;
  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.btn--primary {
  min-width: 350px;
  border: 2px solid #2d3651;
  background-color: rgba(45, 54, 81, 0.8);
}

.btn:hover,
.btn:focus {
  background-color: #d66926;
}

.header {
  position: relative;
  display: grid;
  min-height: 100vh;
  padding: 100px 0;
  color: #ffffff;
  background-color: #2d3651;
  background-image: url(../img/img-header.png);
  background-position: 50% 50%;
  background-size: cover;
  align-content: center;
}

.header-overlay {
  position: absolute;
  inset: 0;
  opacity: 0.8;
  background-color: #2d3651;
}


.header-content {
  position: relative;
  z-index: 1;
}

.header-content__title {}

@media (min-width: 992px) {
  .header-content__title {
    margin: 0 0 53px;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .header-content__title {
    margin: 0 0 43px;
  }
}
@media (max-width: 767px) {
  .header-content__title {
    margin: 0 0 43px;
  }
}

.header-content__actions {
  display: flex;
  justify-content: center;
  gap: 20px
}
.header-content__actions .btn:first-of-type {
  margin-right: 20px;
}

.header-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
}
@media (max-width: 767px) {
  .header-menu {
    background-color: rgba(68, 89, 110, 0.25);
  }
}

.header-menu__container {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 20px;
}

.header-menu__container,
.header-content__container {
  max-width: 1340px;
  margin: auto;
  padding-right: 20px;
  padding-left: 20px;
}

.header-logo {
  letter-spacing: 0.22em;
  font-size: 1.5rem;
}

.header-logo__link {
  display: block;
  padding: 20px 20px 20px 0;
}

.header-logo__accent {
  display: inline-block;
  margin-right: 4px;
  padding: 14px 1px 13px 5px;
  border: 3px solid #d53d27;
}

.header-navbar {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: end;
}

.header-navbar__btn {
  position: relative;
  width: 30px;
  height: 22.5px;
  margin: 20px 0;
  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: rotate(0deg);
}
@media (min-width: 768px) {
  .header-navbar__btn {
    display: none;
  }
}
@media (max-width: 767px) {
  .header-navbar__btn {
    display: block;
  }
}

.header-navbar__btn-row {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  transition: 0.25s ease-in-out;
  transform: rotate(0deg);
  opacity: 1;
  border-radius: 4px;
  background: #ffffff;
}
.header-navbar__btn-row:nth-child(1) {
  top: 0;
  transform-origin: left center;
}
.header-navbar__btn-row:nth-child(2) {
  top: 9px;
  transform-origin: left center;
}
.header-navbar__btn-row:nth-child(3) {
  top: 18px;
  transform-origin: left center;
}

.header-navbar__btn--active span:nth-child(1) {
  top: -1.5px;
  left: 4px;
  transform: rotate(45deg);
}
.header-navbar__btn--active span:nth-child(2) {
  width: 0;
  opacity: 0;
}
.header-navbar__btn--active span:nth-child(3) {
  top: 19.5px;
  left: 4px;
  transform: rotate(-45deg);
}

.header-navbar__list {
  margin: 0 -20px 0 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .header-navbar__list {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
    justify-content: end;
  }
}
@media (max-width: 767px) {
  .header-navbar__list {
    position: absolute;
    top: 100%;
    right: 20px;
    display: none;
    text-align: right;
    background-color: rgba(68, 89, 110, 0.9);
  }
}

.header-navbar__link {
  display: block;
  padding: 20px 10px;
  transition: color 0.5s;
  font-size: 1.125rem;
}
.header-navbar__link:hover,
.header-navbar__link:focus {
  color: #d66926;
}

.skills {
  padding: 10px;
  margin-bottom: 30px;
}

.skills__container {
  display: grid;
  margin-bottom: 20px;
  gap: 10px;
}
@media (min-width: 992px) {
  .skills__container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .skills__container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
  }
}
@media (max-width: 767px) {
  .skills__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
  }
}
@media (min-height: 691px) {
  .skills__container {
    grid-auto-rows: calc(33.333vh - 13.333px); /* 10 * 4 / 3*/
  }
}
@media (max-height: 690px) {
  .skills__container {
    grid-auto-rows: calc(230px - 13.333px); /* 10 * 4 / 3*/
  }
}

.skills__actions {
  display: flex;
  justify-content: center;
}

.skill-item {
  position: relative;
  overflow: hidden;
}

.skill-item:hover .skill-item__overlay {
  opacity: 0.95 !important;
}
.skill-item:hover .skill-item__image {
  transform: scale(1.1);
}
.skill-item:hover .skill-item__link {
  color: #d66926;
}

.skill-item:nth-of-type(1) {
  grid-area: a1;
}
.skill-item:nth-of-type(2) {
  grid-area: a2;
}
.skill-item:nth-of-type(3) {
  grid-area: a3;
}
.skill-item:nth-of-type(4) {
  grid-area: a4;
}
.skill-item:nth-of-type(5) {
  grid-area: a5;
}
.skill-item:nth-of-type(6) {
  grid-area: a6;
}
.skill-item:nth-of-type(7) {
  grid-area: a7;
}
.skill-item:nth-of-type(8) {
  grid-area: a8;
}
.skill-item:nth-of-type(9) {
  grid-area: a9;
}

.skill-item__overlay {
  position: absolute;
  inset: 0;
  transition: opacity 0.5s;
  opacity: 0.8;
  background-color: #2d3651;
}

.skill-item__image {
  position: absolute;
  inset: 0;
  transition: transform 0.5s;
  background-position: 50% 50%;
  background-size: cover;
  background-color: #2d3651;
}

.skill-item__title {
  position: absolute;
  z-index: 1;
  inset: 0;
  margin: 0;
}
@media (min-width: 768px) {
  .skill-item__title {
    font-size: 1.25rem;
  }
}
@media (max-width: 767px) {
  .skill-item__title {
    font-size: 1.125rem;
  }
}

.skill-item__link {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 20px;
  transition: color 0.5s;
  justify-content: center;
  align-items: center;
}
