@use "../../abstracts" as *;

.header__navbar {
  &-list {
    @include md-min {
      display: grid !important;
      justify-content: end;

      gap: $gap;
      grid-template-columns: repeat(auto-fit, minmax(40px, max-content));
      @include unlist(0 (-$gap-sm) 0 0);
    }
    @include md {
      position: absolute;
      top: 100%;
      right: $gap;

      display: none;
      overflow: hidden;

      text-align: right;

      @include box-shadow;
      @include unlist;

      &::before {
        @include abs-position(-$gap, -$gap, -$gap, -$gap);
        z-index: -1;

        content: "";

        background-color: rgba($color-gray-dark, 0.25);

        backdrop-filter: blur(5px);
      }
    }
  }

  &-item {
    @include md {
      margin: $gap;
    }
  }

  &-link {
    display: block;

    transition: color 0.3s;
    letter-spacing: 0.09em;

    font-size: 1.125rem;

    @include md-min {
      padding: $gap $gap-sm;
    }
    @include md {
      padding: $gap-sm $gap;
    }

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }

  &-btn {
    position: relative;

    display: block;

    width: 40px;
    height: 30px;
    margin-left: auto;

    cursor: pointer;

    border: none;
    background: none;

    @include md-min {
      display: none;
    }

    &-row {
      position: absolute;
      left: 0;

      display: block;

      width: 100%;
      height: 4px;

      transition: 0.25s ease-in-out;
      transform: rotate(0deg);

      opacity: 1;
      border-radius: 4px;
      background-color: $color-white;

      &:nth-of-type(1) {
        top: 0;
      }

      &:nth-of-type(2) {
        top: 12px;
      }

      &:nth-of-type(3) {
        top: 24px;
      }
    }

    &.active span {
      &:nth-of-type(1) {
        top: 12px;

        transform: rotate(135deg);
      }

      &:nth-of-type(2) {
        left: -40px;

        opacity: 0;
      }

      &:nth-of-type(3) {
        top: 12px;

        transform: rotate(-135deg);
      }
    }
  }
}
