@use "../../abstracts" as *;

.header__content {
  position: relative;
  z-index: 1;

  &-container {
    @extend %container;
  }

  &-title {
    text-align: center;

    @include lg-min {
      margin: 0 0 53px 0;
    }
    @include lg-md {
      margin: 0 0 43px 0;
    }
    @include md {
      margin: 0 0 33px 0;
    }
  }

  &-actions {
    display: flex;
    justify-content: center;

    gap: $gap;
    @include sm {
      align-items: center;
      flex-direction: column;
    }
  }
}
