@use "../../presets" as *;
@use "../../mixins" as *;

.footer {
  padding: ($gap * 2.5) $gap ($gap * 3.5);

  text-align: center;

  background-color: $color-primary;

  &__container {
    @extend %container;
  }

  &__social {
    position: relative;

    display: grid;
    justify-content: center;

    margin-bottom: $gap-x2;

    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));

    &::after {
      position: absolute;
      bottom: -$gap;
      left: calc(50% - 75px / 2);

      width: 75px;
      height: 2px;

      content: "";

      background-color: rgba($color-light, 0.1);
    }

    a {
      display: block;

      padding: $gap-sm;

      transition: color 0.5s;

      &:hover,
      &:focus {
        color: $color-accent;
      }
    }

    .fab {
      font-size: 36px;
    }
  }

  &__copy {
    span {
      &:nth-of-type(1) {
        margin-right: -0.5em;

        letter-spacing: 0.33em;

        font-weight: 100;
      }

      &:nth-of-type(2) {
        letter-spacing: 0.05em;

        color: $color-gray-light;

        font-weight: 700;
      }
    }
  }
}
