@use "../../presets/index" as *;
@use "../../mixins/index" as *;
@use "sass:math";
$local-gap: math.div(40px, 3);

.skills {
  @include sm-min {
    padding: $gap-sm;
  }
  @include sm {
    padding: $gap;
  }

  &__container {
    display: grid;

    margin-bottom: $gap;

    @include lg-min {
      grid-template-areas: "a1 a1 a2 a3" "a4 a5 a5 a6" "a7 a8 a9 a6";
      grid-template-columns: repeat(4, 1fr);
    }
    @include lg-md {
      grid-template-areas: "a1 a1 a2" "a3 a4 a4" "a5 a5 a6" "a7 a8 a6" "a7 a9 a9";
      grid-template-columns: repeat(3, 1fr);
    }
    @include md-sm {
      grid-template-areas: "a1 a2" "a3 a2" "a4 a4" "a5 a6" "a5 a7" "a8 a9";
      grid-template-columns: 1fr 1fr;
    }
    @include sm-min {
      gap: $gap-sm;
    }
    @include sm {
      gap: $gap;
      grid-template-areas: "a1" "a2" "a3" "a4" "a5" "a6" "a7" "a8" "a9";
    }

    @media (min-height: 691px) {
      grid-auto-rows: calc(33.33333vh - #{$local-gap}); /* 20 / 2 * 4 / 3 => 20 * 2 / 3 => 20 * 0.66  */
    }
    @media (max-height: 690px) {
      grid-auto-rows: calc(230px - #{$local-gap});
    }
  }

  &__actions {
    @extend %btn-container;
    @include sm-min {
      margin-bottom: $gap-lg;
    }
  }
}
