@use "sass:math";
$font-header: "Roboto Slab", serif;
$font-main: "Roboto", sans-serif;
$font-size: 16px;

$container-size: 1300px;

$ul: 1340px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$gap: 20px;
$gap-sm: math.div($gap, 2); // 10px
$gap-lg: $gap * 1.5; // 30px
$gap-x2: $gap * 2; // 40px
$gap-x3: $gap * 3; // 60px
$gap-x4: $gap * 4; // 80px
$gap-x5: $gap * 5; // 100px
