.header-navbar {
  position: relative;

  display: grid;

  align-items: center;
  justify-items: end;
}

.header-navbar__list {
  margin: 0 (-$gap) 0 0;
  padding: 0;

  list-style-type: none;

  @include md-min {
    display: grid;

    width: 100%;

    justify-content: flex-end;
    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
  }
  @include md {
    position: absolute;
    top: 100%;
    right: 20px;

    display: none;

    text-align: right;

    background-color: rgba($color-gray-dark, 0.9);
  }
}

.header-navbar__hamburger {
  position: relative;

  width: 30px;
  height: 23px;
  margin: $gap 0;

  cursor: pointer;
  transition: 0.5s ease-in-out;
  transform: rotate(0deg);

  @include md-min {
    display: none;
  }
  @include md {
    display: block;
  }

  span {
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 3px;

    transition: 0.25s ease-in-out;
    transform: rotate(0deg);

    opacity: 1;
    border-radius: 3px;
    background: $color-light;

    &:nth-of-type(1) {
      top: 0;
    }

    &:nth-of-type(2) {
      top: 9px;
    }

    &:nth-of-type(3) {
      top: 18px;
    }
  }

  &.active span {
    &:nth-of-type(1) {
      top: 9px;

      transform: rotate(135deg);
    }

    &:nth-of-type(2) {
      left: -30px;

      opacity: 0;
    }

    &:nth-of-type(3) {
      top: 9px;

      transform: rotate(-135deg);
    }
  }
}

.header-navbar__item {
  a {
    display: block;

    padding: $gap;

    transition: color 0.5s;

    font-size: 1.125rem;

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }
}