.header {
  position: relative;

  display: grid;

  min-height: 100vh;
  padding: 100px 0;

  color: $color-light;
  background-color: $color-primary;
  background-position: 50% 50%;
  background-size: cover;

  align-content: center;
}