@use "sass:math";
$font-header: "Roboto Slab", serif;
$font-main: "Roboto", sans-serif;
$font-size: 16px;

$gap: 20px;
$gap-sm: math.div($gap, 2); // 10px
$gap-lg: $gap * 1.5; // 30px
$gap-x2: $gap * 2; // 40px
$gap-x3: $gap * 3; // 60px
$gap-x4: $gap * 4; // 80px
$gap-x5: $gap * 5; // 100px

$container: $ul - $gap * 2;
