@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  display: grid;
  align-items: center;

  justify-items: end;

  &__list {
    @include md-min {
      display: grid;
      justify-content: end;

      width: 100%;

      gap: $gap;
      grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
      @include unlist(0 (-$gap-sm) 0 0);
    }
    @include md {
      position: absolute;
      top: 100%;
      right: $gap;

      display: none;

      text-align: right;

      background-color: rgba($color-gray-dark, 0.9);

      @include box-shadow;
      @include unlist;
    }
  }

  &__item {
    @include md {
      margin: $gap $gap-sm;
    }
  }

  &__link {
    display: block;

    transition: color 0.5s;

    font-size: 1.125rem;
    letter-spacing: 0.1em;

    @include md-min {
      padding: $gap $gap-sm;
    }
    @include md {
      padding: $gap-sm $gap;
    }

    &:hover,
    &:focus {
      color: $color-accent;
    }
  }

  &__btn {
    position: relative;

    width: 30px;
    height: 23px;
    margin: $gap 0;

    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform: rotate(0deg);

    @include md-min {
      display: none;
    }

    &-row {
      position: absolute;
      left: 0;

      display: block;

      width: 100%;
      height: 3px;

      transition: 0.25s ease-in-out;
      transform: rotate(0deg);

      opacity: 1;
      border-radius: 3px;
      background: $color-light;

      &:nth-of-type(1) {
        top: 0;
      }

      &:nth-of-type(2) {
        top: 9px;
      }

      &:nth-of-type(3) {
        top: 18px;
      }
    }

    &--active span {
      &:nth-of-type(1) {
        top: 9px;

        transform: rotate(135deg);
      }

      &:nth-of-type(2) {
        left: -30px;

        opacity: 0;
      }

      &:nth-of-type(3) {
        top: 9px;

        transform: rotate(-135deg);
      }
    }
  }
}
