@use "../../presets" as *;
@use "../../mixins" as *;

.header-content {
  position: relative;
  z-index: 1;

  &__container {
    display: grid;

    @extend %container;
  }

  &__title {
    text-align: center;

    @include lg-min {
      margin: 0 0 53px;
    }
    @include lg-md {
      margin: 0 0 43px;
    }
    @include md {
      margin: 0 0 33px;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;

    gap: $gap;

    @include sm {
      flex-direction: column;
      align-items: center;
    }
  }
}
