@use "../../presets" as *;
@use "../../mixins" as *;

.header {
  position: relative;

  display: grid;
  align-content: center;

  min-height: 100vh;
  padding: 150px 0;

  color: $color-light;
  background-color: $color-primary;
  background-position: 50% 50%;
  background-size: cover;
}
