@use "../../presets" as *;
@use "../../mixins" as *;

.header-logo {
  align-self: center;

  letter-spacing: 0.22em;

  font-size: 1.5rem;

  &__link {
    display: block;

    padding: $gap $gap $gap 0;

    &:hover,
    &:focus {
      color: $color-light;
    }
  }

  &__accent {
    display: inline-block;

    margin-right: 4px;
    padding: 14px 1px 13px 5px;

    border: 3px solid $color-highlight;
  }
}
