@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;

  width: 100%;

  @include md {
    background-color: rgba($color-gray-dark, 0.25);

    @include box-shadow;
  }

  &__container {
    display: grid;

    @extend %container;
    grid-template-columns: auto 1fr;
  }
}
