@use "../presets" as *;
@use "../mixins" as *;

.btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0.5em 1em;

  transition: background-color 0.5s, border-color 0.5s;
  letter-spacing: 0.1em;

  border-width: 2px;
  border-style: solid;

  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.btn--light {
  border-color: $color-light;
  background-color: rgba($color-light, 0.1);

  @include lg-min {
    min-width: 250px;
    height: 60px;

    font-size: 1.125rem;
  }
  @include lg-md {
    min-width: 200px;
    height: 50px;
  }
  @include md {
    min-width: 170px;
    height: 40px;
  }
}

.btn--primary {
  height: 60px;

  border-color: $color-primary;
  background-color: rgba($color-primary, 0.8);

  font-size: 1.125rem;

  @include sm-min {
    width: 350px;
  }
  @include sm {
    width: 100%;
  }
}

.hidden {
  @include visually-hidden;
}
