@use "../presets" as *;
@use "../mixins" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-y: scroll;

  font-family: $font-main;
  font-size: 16px;
}

body {
  color: $color-gray;
  background-color: $color-white;
}

h1 {
  letter-spacing: 0.08em;

  font-family: $font-header;
  font-weight: 300;
  line-height: 1.2em;

  @include lg-min {
    font-size: 3.75rem;
  }
  @include lg-md {
    font-size: 2.5rem;
  }
  @include md {
    font-size: 1.875rem;
  }
}

h2 {
  letter-spacing: 0.1em;

  color: $color-primary;

  font-family: $font-header;
  line-height: 1.2em;

  @include lg-min {
    margin-bottom: 3rem;

    font-size: 2.5rem;
  }
  @include lg-md {
    margin-bottom: 2.625rem;

    font-size: 2rem;
  }
  @include md-sm {
    margin-bottom: 2.25rem;

    font-size: 1.5rem;
  }
  @include sm {
    margin-bottom: 2.25rem;

    text-align: center;

    font-size: 1.5rem;
  }
}

h3 {
  letter-spacing: 0.05em;

  color: $color-gray;

  font-size: 1.125rem;
}

a {
  text-decoration: none;

  color: $color-white;
}

p {
  color: $color-gray;
}

input:focus {
  outline: none;
}
